#!/usr/bin/env bash

BACKUP_DIR=${HOME}/wp_backup
BACKUP_DATE=$(date +"%Y%m%d")
BACKUP_TIME=$(date +"%H%M%S")
BACKUP_DATETIME="${BACKUP_DATE}_${BACKUP_TIME}"

{% for directory in working_directories %}
# 階層的にbackupフォルダを作成
mkdir -p ${BACKUP_DIR}/"{{ directory }}"
# backup用のディレクトリがなければ終了
cd ${BACKUP_DIR}/"{{ directory }}" || exit 1;

# ディレクトリがあれば処理をする
cd ${HOME}/www/"{{ directory }}" || exit 1;
# DBをバックアップする
wp db export ${BACKUP_DIR}/"{{ directory }}"/backup_${BACKUP_DATETIME}.sql
# 5日前のバックアップを削除
find ${BACKUP_DIR}/"{{ directory }}" -type f -name "*.sql" -mtime +5 -print0 | xargs rm -f

# uploadsの中身をバックアップする
cd ${HOME}/www/"{{ directory }}/wp-content" || exit 1;
tar vcfz ${BACKUP_DIR}/"{{ directory }}"/uploads_${BACKUP_DATETIME}.tar.gz ./uploads/*
find ${BACKUP_DIR}/"{{ directory }}" -type f -name "*.tar.gz" -mtime +5 -print0 | xargs rm -f
{% endfor %}
