#!/usr/bin/env bash

#!/usr/bin/env bash

# production環境のアップデート
cd ${HOME}/www/"{{production_directory}}" || exit 1;
wp core update --locale=ja
wp plugin update --all


# staging環境のアップデート
cd ${HOME}/www/"{{staging_directory}}" || exit 1;
wp core update --locale=ja
wp plugin update --all
